a {
    text-decoration: none;
    color: inherit;
  }
  
.item {

    width: 380px;
    height: 530px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.4s;
    background-color: rgb(234, 226, 226);
    border: 1px solid black;
    

}

  
.item img {
   width: 378px;
   padding-top: 0.2px;
   height: 350px;
   object-fit: cover;
}

.item p {
    margin: 10px 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    
}

.price {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.price-new {
    color: #000;
    font-size: 21px;
    font-weight: 600;
}

.price-old {
    color: #000;
    font-size: 19px;
    font-weight: 500;
    text-decoration: line-through;
}

.item:hover {
    transform: scale(1.05);
    box-shadow:4px 4px 30px rgb(169, 163, 163);;
}
