
.displayimg{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    gap: 100px;             
    height: 100vh;  
    margin-top: 1800px;  
    margin-top: 3750px;
           
     
  }
   body{
    background-color: rgb(228, 213, 213);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  .displayimg img {
    width: 1400px;           
    height: 900px;         
  }
  .imageslider{
    padding-bottom:200px;
    padding-top: 40px;
    padding-right: 20px;
background-color: white;
}
.carousel {
    position: relative;
    width: 1600px; /* Increase width */
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}
  
.carousel-container {
    display: flex;
    width: 100%; /* Make it fill the .carousel */
    transition: transform 0.5s ease-in-out;
    background-image: linear-gradient(rgb(117, 117, 218),black);
}
  
.carousel-image {
    width: 95%; /* Make it responsive */
    height: 800px; /* Increase height */
    /* object-fit:contain; */
    border-radius: 10px;
}
  
/* Navigation Buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 30%;
}
  
.prev { left: 10px; }
.next { right: 10px; }
  
.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.8);
}
