
.displayimg{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    gap: 100px;             
    height: 100vh;  
    margin-top: 1800px;  
    margin-top: 3750px;
           
     
  }
   body{
    background-color: rgb(228, 213, 213);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  .displayimg img {
    width: 1400px;           
    height: 900px;         
  }
 